
<div class="navbar-outer">
    <div class="navbar-inner">
        <div class="title-logo">
            <NavLink class="home-logo" href="/">
                <h1>Server Management</h1>
            </NavLink>
        </div>

        <div class="nav-items">
            <div class="nav-servers">
                <NavLink class="navbar-links" href="servers" >
                    <i>@icons["server"]</i> 
                    Servers
                </NavLink>
            </div>
        </div>
    </div>

</div>



@code {
    
}
